pipeline/TotesysDB.json
{
	"name": "TotesysDB",
	"properties": {
		"activities": [
			{
				"name": "Set _sourceSystem",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceSystem",
					"value": {
						"value": "@pipeline().parameters.sourceSystem",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Entities",
				"description": "Lookup all entities associated with sourceSystem",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set _sourceSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "--First create varaiable to store sourceEntityID:\nDECLARE @sourceEntityID INT;\n\n-- Save the sourceEntityID to variable:\nSELECT @sourceEntityID = sourceEntityID\nFROM sourceSystem\nWHERE sourceEntityName = '@{pipeline().parameters.sourceSystem}';\n\n--SELECT from sourceEntity\nSELECT * FROM sourceEntity\nWHERE @sourceEntityID = @sourceEntityID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MetaData_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Entities').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "BRONZE",
							"description": "Activate bronze ingestion layer.",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sjp@data-ai.uk/framework_j1/src/notebooks/BRONZE",
								"baseParameters": {
									"entityName": {
										"value": "@string(item()['entityName'])",
										"type": "Expression"
									},
									"sourceSystem": {
										"value": "@string(pipeline().parameters.sourceSystem)",
										"type": "Expression"
									},
									"entityColumns": {
										"value": "@item()['entityColumns']",
										"type": "Expression"
									},
									"entitySourceQuery": {
										"value": "@item()['entitySourceQuery']",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Framework Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceSystem": {
				"type": "string"
			}
		},
		"variables": {
			"sourceSystem": {
				"type": "String"
			}
		},
		"annotations": []
	}
}