pipeline/TotesysDB.json
{
	"name": "TotesysDB",
	"properties": {
		"activities": [
			{
				"name": "Set _sourceSystem",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceSystem",
					"value": {
						"value": "@pipeline().parameters.sourceSystem",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Entities",
				"description": "Lookup all entities associated with sourceSystem",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set _sourceSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "--First create varaiable to store sourceEntityID:\nDECLARE @sourceEntityID INT;\n\n-- Save the sourceEntityID to variable:\nSELECT @sourceEntityID = sourceEntityID\nFROM sourceSystem\nWHERE sourceEntityName = '@{pipeline().parameters.sourceSystem}';\n\n--SELECT from sourceEntity\nSELECT * FROM sourceEntity\nWHERE @sourceEntityID = @sourceEntityID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MetaData_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ingestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Entities').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "BRONZE",
							"description": "Activate bronze ingestion layer.",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sjp@data-ai.uk/framework_j1/src/notebooks/BRONZE",
								"baseParameters": {
									"entityName": {
										"value": "@string(item()['entityName'])",
										"type": "Expression"
									},
									"sourceSystem": {
										"value": "@string(pipeline().parameters.sourceSystem)",
										"type": "Expression"
									},
									"entityColumns": {
										"value": "@item()['entityColumns']",
										"type": "Expression"
									},
									"entitySourceQuery": {
										"value": "@item()['entitySourceQuery']",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Framework Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "BRONZE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('BRONZE').output.runOutput, 'None'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Update NULL",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "UPDATE sourceEntity\nSET bronzeLocation = 'None'\nWHERE entityName = '@{item().entityName}';\n\nSELECT * FROM sourceEntity\nWHERE bronzeLocation = '@{activity('BRONZE').output}';",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "MetaData_Dataset",
												"type": "DatasetReference"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Update Bronze Location",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Create UPDATE query",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@variables('updateBronzeLocation')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "MetaData_Dataset",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Create UPDATE query",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "updateBronzeLocation",
											"value": {
												"value": "@concat(\n   'UPDATE sourceEntity SET bronzeLocation = ''',\n   activity('BRONZE').output.runOutput,\n   ''' WHERE entityName = ''',\n   item().entityName,\n   '''; SELECT * FROM sourceEntity WHERE bronzeLocation = ''',\n   activity('BRONZE').output.runOutput,\n   ''' AND entityName = ''',\n   item().entityName,\n   ''';'\n)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceSystem": {
				"type": "string"
			}
		},
		"variables": {
			"sourceSystem": {
				"type": "String"
			},
			"updateBronzeLocation": {
				"type": "String"
			}
		},
		"annotations": []
	}
}